<div class="container">

  <h1>Rent island</h1>

  <div id="rent">
    <form action=<%= island_orders_path %> method="post" >
      <input type="text" name="checkin" required autocomplete="off">
      <span>to</span>
      <input type="text" name="checkout" required autocomplete="off">
      <input type="submit" >
    </form>
  </div>

</div>
